<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
</head>
<body>
<form action="/races/create", method = "POST">
			<div>
				<label for = "latitude"> Latitude: 
				</label>
				<input name = "latitude">
				</input>
			</div>
			<br>
			<div>
				<label for = "longitude"> Longitude: 
				</label>
				<input name = "longitude">
				</input>
			</div>
			<br>
			<button type = "submit"> Create Race
		</form>


</body>
</html>