<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<meta charset="utf-8" />
	</head>
	<body>
		<h3>Latitude: #{coordinatess.latitude} </h3>
		<br>
		<h3>Longitude: #{coordinatess.longitude} </h3>
	</body>
</html>
