<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<meta charset="utf-8" />
    <style>
      body              {   font-family: 'Raleway', sans-serif; }
      form              {    width: 100%; height: 100%; display: flex; align-items: center; flex-direction: column;}

      .cave             {    width: 100%; height: 10%;flex-direction: row; display: flex; align-items: center; border: 1px solid #6a1a1a; box-sizing: border-box; flex-shrink: 0;}

      #holder           {   width: 90vw; height: 90vh; display: flex; align-items: center; background-color: #4fa09c; border: 10px solid #125368; margin: 0 auto; flex-direction: column; }
      #nameholder       {   height: 10%; width: 60%; flex-direction: column;  color: #fefbf9; }
      #starttimeholder  {   height: 10%; width: 60%; flex-direction: column;  color: #fefbf9;}
      #endtimeholder    {   height: 10%; width: 60%; flex-direction: column; color: #fefbf9;}
      #caves            {   height: 50%; width: 60%; flex-direction: column; overflow-x: hidden; overflow-y: auto; color: #fefbf9; }
      input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #6a1a1a;;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #6a1a1a;;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #6a1a1a;;
}

    </style>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	</head>
	<body>
    <div id="holder">
		<form action="/races/raceCreated", method = "POST">
			<div id="nameholder">
				<label for = "name"> Name:
				</label>
				<input  type="text" name = "name">
				</input>
			</div>
			<br>
			<div id="starttimeholder">
				<label for = "starttime"> Starttime:
				</label>
				<input type="text" name = "starttime">
				</input>
			</div>
			<br>
			<div id="endtimeholder">
				<label for = "endTime"> EndTime:
				</label>
				<input  type="text" name = "endTime">
				</input>
			</div>
			<br>
			<div id="caves">
				<% cafes.forEach(function(cafe) { %>
					<div class="cave">
						<input type="checkbox" value="<%= cafe %>" name="cafes" />
	          <label><%= cafe.name %></label>
	        </div>
					<% }); %>
			</div>
			<br>
			<button type = "submit"> Create Race
		</form>
  </div>
	</body>
</html>
